.trello{
  background:#0f172a;
  min-height:100vh;
  padding:20px;
  color:white;
  font-family: Arial;
}


.columnas{
  display:flex;
  gap:20px;
}

.col{
  flex:1;
  background:#1e293b;
  border-radius:12px;
  padding:10px;
  min-height:500px;
  position:relative;
}

.col h2{
  text-align:center;
  margin-bottom:10px;
}

.btn-add{
  position:absolute;
  right:10px;
  top:10px;
  background:#22c55e;
  border:none;
  border-radius:50%;
  width:30px;
  height:30px;
  cursor:pointer;
}

.card{
  background:#334155;
  padding:10px;
  border-radius:10px;
  margin-bottom:10px;
  cursor:grab;
}

.titulo{
  font-weight:bold;
  display:flex;
  justify-content:space-between;
}

.alta{
  color:#ef4444;
  font-weight:bold;
}
.media{
  color:#facc15;
}
.baja{
  color:#22c55e;
}

.card img{
  width:100%;
  border-radius:6px;
  margin-top:5px;
}

.card a{
  color:#38bdf8;
  display:block;
  margin-top:5px;
}

.acciones{
  display:flex;
  gap:8px;
  margin-top:5px;
}

.acciones button{
  border:none;
  padding:4px 8px;
  border-radius:6px;
  cursor:pointer;
}

.panel{
  position:fixed;
  right:0;
  top:0;
  width:350px;
  height:100%;
  background:#020617;
  padding:20px;
  box-shadow:-5px 0 15px rgba(0,0,0,0.5);
}

.panel-content{
  display:flex;
  flex-direction:column;
  gap:10px;
}

.panel input, .panel textarea, .panel select{
  padding:8px;
  border-radius:6px;
  border:none;
}

.panel button{
  padding:10px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  background:#22c55e;
  font-weight:bold;
}

.cancelar{
  background:#ef4444 !important;
}
.overlay{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.5);
}